#root {
    min-width: 100%;
    margin: 0;
    text-align: center;
    background-color: var(--dark-blue)
}

.outlet-container {
    display: flex;
    align-items: center;
    justify-content: center;
}