:root {
    --dark-blue: #232751;
    --light-blue: #4A52B0;
    --cream: #CAB0A5;
    --gray: #8C94A4;
    --gray-transparent: #8C94A455;
    --orange: #8a3814;
  
    font-family: Quicksand, system-ui, Arial, sans-serif;
  
    /* font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  }


html, body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
    margin: 0px;
    padding: 0px;
}