.all-trips, .single-trip {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 95vw;
    
    gap: 25px;
    margin: 25px 0;
    justify-content: center;
}

.trip-card {
    background-color: var(--light-blue);
    max-width: 500px;
    border-radius: 10px;
}

.trip-card button {
    cursor: pointer;
}


.trip-card-header {
    padding: 10px 0;
    background-color: var(--cream);
    border-radius: 10px 10px 0 0;
    /* color: white;

    font-size: 1.5em;
    font-weight: bolder;
    text-shadow: 2px 2px 2px var(--dark-blue); */
}

.trip-card-header h2 {
    margin: 0;

    color: white;

    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--dark-blue);
    letter-spacing: 3px
}

.trip-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

    margin: 0 20px;
    text-align: left;
}

.left {
    display: flex;
    flex-direction: column;
}

.left p {
    margin: 5px 0;
}

.left input, .single-destination input {
    background-color: white;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left button {
    align-self: center;
}

.trip-destinations {
   display: flex;
   flex-direction: column;
   background-color: white;
   margin: 20px; 
   border-radius: 5px;
   padding: 5px 15px;
   text-align: left;
}

.trip-card img {
    height: 25px;
}

.destination-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.destination-form input {
    background-color: var(--gray);
    color: black;

    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 80%;
    padding: 10px; 
    margin-bottom: 5px;
}

.destination-form input::placeholder, input[type='date'] {
    color: rgba(0, 0, 0, .5); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.destination-form button {
    margin: 0;
    color: white;
    background-color: var(--orange);
    border-radius: 20px;
    font-family: Quicksand, system-ui, Arial, sans-serif;
    font-size: 1em;
    text-shadow: 1px 1px 1px var(--dark-blue);
    letter-spacing: 1px;
}

.destination-list h2 { 
    margin: 7.5px 0 0 0;
    padding: 5px 20px;
    width: auto;
    border-radius: 10px;

    color: black;

    text-align: center;
    font-size: 1.5em;
    font-family: Quicksand, system-ui, Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--gray);
    letter-spacing: 3px;
}

.single-destination {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--gray-transparent);
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.single-destination p {
    margin-left: 10px;
    margin-right: 10px;
}

.icons {
    margin-left: 10px;
    margin-right: 10px;
}

.icons button {
    background-color: transparent;
    /* padding: 0; */
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: inherit;
}

.edit-trip {
    margin: 0 0 20px 0;
    margin-right: 10px;
    padding: 5px 10px;
    color: white;
    background-color: var(--dark-blue);
    border-radius: 20px;
    font-family: Quicksand, system-ui, Arial, sans-serif;
    font-size: 1em;
    text-shadow: 1px 1px 1px var(--dark-blue);
    letter-spacing: 1px;
}

.delete-trip {
    margin: 0 0 20px 0;
    padding: 5px 10px;
    color: white;
    background-color: var(--orange);
    border-radius: 20px;
    font-family: Quicksand, system-ui, Arial, sans-serif;
    font-size: 1em;
    text-shadow: 1px 1px 1px var(--dark-blue);
    letter-spacing: 1px;
}

.no-destinations-message p {
    text-align: center;
}




/* SIZING: show two cards side by side on a desktop,
and one card on mobile */